<%= column_chart (@graphing) %> 
<br><br>

<h1>Course Title: <br><%= @current_course %></h1>
<br><br>
<br><br>

<h1>This student has note: <%= @student_note %></h1>

<br><br>

<a href="mailto: <% @student_email %>"> Email this student: <%= @student_email %> </a>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
