<title>Syllabus Cloud</title>
    <link rel="stylesheet" type="text/css" href="../jqcloud/jqcloud.css" />
    <script type="text/javascript" src="http://ajax.agoogleapis.com/ajax/libs/jquery/1.4.4/jquery.js"></script>
    <script type="text/javascript" src="../jqcloud/jqcloud-1.0.4.js"></script>
    <script type="text/javascript">
      var word_list = <%= raw @word_cloud.to_json %>; 

 $(function() {
        $("#my_favorite_latin_words").jQCloud(word_list);
      });
    </script>
  </head>
  <body>
    <h1>Syllabus Cloud</h1>
    <div id="my_favorite_latin_words" style="width: 550px; height: 350px; border: 1px solid #ccc;"></div>
  </body>
