<div>
	<h3>Import syllabus in csv format: </h3>
    <p><font color="red">Select a course: </font></p>
	  <%= form_tag import_datetopics_path, multipart: true do %>
	  <%= collection_select :course, :id, Course.where("user_id = ?", current_user.id),
	  		 :id, :code_term_year, prompt: true %>
	    <%= file_field_tag :file %>
	    <%= submit_tag "Upload" %>
	  <% end %>
	  
</div>
