<h2><br>Attendances details for <%= @course_name %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Last Name</th>
	  <% (0..@dates.length - 1).each do |i| %>
	    <th><%= @dates[i] %></th>
	  <% end %>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.last_name %></td>
		<% (0..@dates.length - 1).each do |i| %>
			<% if Attendance.where("student_id = ? AND att_date = ?", student.id, @dates[i]).blank? %>
		       <td>-</td>
			<% else %>
			   <td>x</td>
			<% end %>
		<% end %> 
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to t('.back', :default => t("helpers.links.back")),
              attendances_path, :class => 'btn btn-default' %>